@c-bg      :#eaeaef;
@c-c       :#444444;
@c-c-w     :#ffffff;
// @c-bar     :#03bb91;
@c-bar     :#66cccc;
// @c-bar     :#45b6b0;
// @c-bar     :#dd4455;
@c-bg-bar  :#444444;
@c-c-bar   :#ffffff;
@c-c-green :#99cc00;
@c-ct-bg   :#ffffff;
@c-bg-picm :#ffffef;
@test1     :#ffffcc;
@test2     :#ffcccc;
@c-tag     :#ff9933;
@c-dark    :#aaaaaa;
@c-green   :#22aa22;
@c-nav-bg  :@c-bar;

@c-footer  :#eeeeee;
@nav-height:50px;
@marg-height:30px;
@main-width:100px;
@w-common:980px;

// @import "grid.less" ;
a,a:hover{text-decoration:none;}
//---------------------------------------------------------
// functions
.tb-gradient(@color-from,@color-to) {
    background: -webkit-gradient(linear, left top, left bottom, from(@color-from), to(@color-to));
    background: -moz-linear-gradient(top,  @color-from,  @color-to);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-from', endColorstr='@color-to');
}
.border-radius(@radius){
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}
.button-color(@cn,@cn-bd,@ch-bg,@ca,@cn-bg,@cn-f,@cn-t,@ch-f,@ch-t,@ca-f,@ca-t) {
    color: @cn;
    border: solid 1px @cn-bd;
    background: @cn-bg;
    background: -webkit-gradient(linear, left top, left bottom, from(@cn-f), to(@cn-t));
    background: -moz-linear-gradient(top, @cn-f,  @cn-t);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='@cn-f', endColorstr='@cn-t');
    &:hover {
    background: @ch-bg;
    background: -webkit-gradient(linear, left top, left bottom, from(@ch-f), to(@ch-t));
    background: -moz-linear-gradient(top, @ch-f,  @ch-t);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='@ch-f', endColorstr='@ch-t');
    }
    &:active {
    color: @ca;
    background: -webkit-gradient(linear, left top, left bottom, from(@ca-f), to(@ca-t));
    background: -moz-linear-gradient(top,  @ca-f,  @ca-t);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='@ca-f', endColorstr='@ca-t');
    }     
}
// -webkit-border-top-left-radius:5px;
// -webkit-border-top-right-radius:5px;
// -moz-border-top-left-radius:5px;
// -moz-border-top-right-radius:5px;
// border-top-left-radius:5px;
// border-top-right-radius:5px;
//---------------------------------------------------------
//.color (@cn,@cn-bd,@ch-bg,@ca,@cn-bg,@ch-bg,@cn-f,@cn-t,@ch-f,@ch-t,@ca-f,@ca-t){
.pink2{
.button-color(#feeef5,#d2729e,#d57ea5,#f3c3d9,#f895c2,#feb1d3,#F171AB,#f4aacb,#e86ca4,#f171ab,#feb1d3);
}
.flatbutton(@color,@cn) {
    .button-color(@color,@cn,@cn,@color,@cn,@cn,@cn,@cn*0.9,@cn*0.9,@cn*1.2,@cn*1.2);
}
.rmv-c{
    .flatbutton(#ffffff,#888888);
}
.add-c{
    .flatbutton(#ffffff,#f47a20);
}
.add-l-c{
    .flatbutton(#ffffff,#7db72f);
}
.cmt-c{
    .flatbutton(#ffffff,#f16c7c);
}
.flt-green{
    .flatbutton(#ffffff,#7db72f);
}
.flt-red{
    .flatbutton(#ffffff,#f17c7c);
}
// input[type='checkbox']{
//     background-color:#fff;
//     opcaity:0.5;
// }
body{
    margin:0em;
    background-color:@c-bg;
    // font-family: monospace,arial,sans-serif;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    font-size:12px;
    color:#777;
}   

.mid-bar {
    position:relative;
    background-color:@c-bar ;
    font-size:50px;
    color:@c-c-w;
    box-sizing: border-box;
    width:100%;
    height:300px;
    padding-top:40px;
    padding-left: 20%;
    padding-right: 20%;
    // padding-left:200px;
    // padding-right:200px;
    top:250px;
    text-align: center;
    // vertical-align: baseline;
    p {
        font-size:18px;
    }
}
.bar-center {
    margin:auto;
    display:block;
    .common-wide;
    ul li {
        display:block;
        width:60px;
        float:left;
        position:relative;
        margin-left:20px;
        a {
            text-decoration: none;
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: bold;
            line-height: 1.42857143;
            white-space: nowrap;
            color:@c-c-bar;
            &:hover{
                color:@c-c-green;
            }
        }
    }
}
.re-body{
    position:relative;
    margin-top:@nav-height+@marg-height;
    margin-bottom:@marg-height;
}
.common-wide{
    max-width:@w-common;
    min-width:@w-common;
    margin:auto;
}

div{
    // border:1px #ff0000 solid;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.ct {
    background-color:#fff;
    width:1200px;
    .center;
    // min-height:200px;
    box-sizing:border-box;
    margin-top:10px;
    margin-bottom:40px;
    // border:1px #f00 solid;
}

thead tr {
    background-color:@c-bar;
    color:@c-c-w;
    // .tb-gradient(@c-bar,@c-bar*0.9);
    // background-color:#333;
    // color:@c-bar;
    height:30px;
    width:100%;
    font-size:12px;
    font-weight:800;
    th {
    border-right: 1px solid @c-c-w;
    }
}
tr td {
    // border:1px #eee solid;
    border-right: 1px solid #e8fafa;
    border-top: 2px solid #e8fafa;
    padding:0px;
    margin:0px;
    list-style: none;
    display: table-cell;
    vertical-align: inherit;
    text-align:center;
    overflow:hidden;text-overflow:ellipsis;
 // ;white-space:nowrap;
}
tbody tr {
    height:28px;
    &:hover{
        background-color:@c-bar*2.3;
        color:@c-bar*0.8;
        opacity:0.8;
    }
}
table {
    // border:2px @c-bar solid;
    // border:2px @c-c-w solid;
    border-bottom:2px #eeeeee solid;
}
.jobs-title{
    position:relative;
    .center;
    height:100px;
    // background-color:#fff;
    width:1200px;
    margin-top:40px;
    .avata{
        float:left;
        width:80px;
        height:80%;
        margin-left:20px;
        margin-right:20px;
        margin-top:10px;
        // background-color:@c-nav-bg;
        background-color:@c-c-w;
        border:2px @c-bar solid;
        .border-radius(50%);
    }
    .jobs-nav-bar{
        float:left;
        width:1000px;
        // background-color:@c-nav-bg;
        height:20px;           
        margin-top:50px;
        // margin-left:-22px;
        // padding-left:-22px;
        font-size:14px;
        // font-weight:600;
        color:#50b6b0;
        border-bottom:6px @c-bar solid;
        vertical-align:middle;
        a{
            color:#50b6b0;
            margin-left:10px;
            &:hover{
                color:#50b6b0*1.2;
            }
        }
    }
}
.tb-footer{
    // height:30px;
    padding:5px;
}
.container {
    .ct ;
    width:980px;
    min-height:800px;
    // overflow:auto;
    .top {
        height:150px;
        .avarta {
            width:200px;
            margin:20px;
            height:100%;
            background-color:#f32;
        }
        // background-color:#fef;
    }
    .left {
        position:relative;
        width:15%;
        float:left;
        clear:both;
    }
    .right {
        position:relative;
        width:84%;
        // background-color:#fee;
        float:right;
    }
}
.proj-bar {
    background-color:@c-bar;
    color:#fff;
    width:100%;
    height:30px;
    padding-left:5px;
    vertical-align: middle;
    border-bottom:2px #fff solid;
    &:hover {
        background-color:#fff;
        color:@c-bar;
        height:32px;
        border-left:5px @c-bar solid;
        border-bottom:0px @c-bar solid;
        margin-left:-5px;
    }
}
p {
    margin:0px;
    
}
.group-bar {
    background-color:@c-bar;
    color:#fff;
    height:30px;
    padding-left:5px;
    vertical-align: middle;
    text-align:left;
}  
.group-info{
    height:150px;
    }

#tr-tmplate{
    // display:none;
}
.last-th{
    border-right: 0px none @c-c-w;
}
.his{
    display:none;
    background-color:#444549*1.6;
    color:#ddd;
    &:hover {
        background-color:#444549*1.8;
        color:#ddd;
        opacity:1.0;
    }
    td {
        border-right:1px none #fff;
        border-top:2px none #fff;
    }
}      
