{%extends "gjobs/base.html"%}
{%block main%}
<div class="jobs-title">
<div class="avata"></div>
<div class="jobs-nav-bar"> <a href="/gjobs/user/{{group.founder.username}}">{{group.founder.username}}</a> /<a href="">{{project.name}}</a> /<a href="">{{group.name}}</a>  </div>
</div>
<div class="ct"> 
<table width=100% cellspacing="0" >
    <thead >
        <tr>
            <th style="width:2%;">         </th>
            <th style="width:23%;">JOBS    </th>
            <th style="width:5%;"> JobsID  </th>
            <th style="width:5%;"> User    </th>
            <th style="width:5%;"> Owner   </th>
            <th style="width:10%;">ST-time </th>
            <th style="width:10%;">ED-time </th>
            <th style="width:5%;"> Spend   </th>
            <th style="width:5%;"> Exc-host</th>
            <th style="width:10%;">Status  </th>
            <th style="width:10%;">Result  </th>
            <th style="width:10%;">Operate </th>
        </tr>
        <!-- <tr> -->
        <!--     <th style="width:2%;">         </th> -->
        <!--     <th style="width:23%;">任务    </th> -->
        <!--     <th style="width:5%;"> 任务ID  </th> -->
        <!--     <th style="width:5%;"> 用户    </th> -->
        <!--     <th style="width:5%;"> 归属    </th> -->
        <!--     <th style="width:10%;">开始    </th> -->
        <!--     <th style="width:10%;">结束    </th> -->
        <!--     <th style="width:5%;"> 耗时    </th> -->
        <!--     <th style="width:5%;"> 执行主机</th> -->
        <!--     <th style="width:10%;">状态    </th> -->
        <!--     <th style="width:10%;">结果    </th> -->
        <!--     <th style="width:10%;">操作    </th> -->
        <!-- </tr> -->
    </thead>
    <tbody id="tr-tmplate">
{%for job in group.jobs.all%}
{%if job.jobhis_set.all%} 
{%for his in job.jobhis_set.all|slice:"1"%}
        <tr id="{{job.slug}}">
            <td id="select"  ><input type="checkbox" name="{{his.jobsid}}" value="{{his.jobsid}}"></td>
            <td id="JOBS"    ><strong>{{job.path}}</strong></td>
            <td id="JobsID"  >{{his.jobsid}}</td>
            <td id="User"    >{{his.user}}</td>
            <td id="Owner"   >{{his.owner}}</td>
            <td id="ST-time" >{{his.sttime|date:"M/d H:i"}}</td>
            <td id="ED-time" >{{his.edtime|date:"M/d H:i"}}</td>
            <td id="Spend"   >{{his.spend}}</td>
            <td id="Exc-host">{{his.exchost}}</td>
            <td id="Status"  >{{his.get_status_display}}</td>
            <td id="Result"  >{{his.result}}</td>
            <td id="Operate" class ="last-th" > <div class = "button rosy small bigrounded">STOP</div> </td>
        </tr>
{%endfor%}
{%for his in job.jobhis_set.all|slice:"1:"%}
        <tr class="his {{job.slug}}" >
            <td id="select"  ></td>
            <td id="JOBS"    ></td>
            <td id="JobsID"  >{{his.jobsid}}</td>
            <td id="User"    >{{his.user}}</td>
            <td id="Owner"   >{{his.owner}}</td>
            <td id="ST-time" >{{his.sttime|date:"M/d H:i"}}</td>
            <td id="ED-time" >{{his.edtime|date:"M/d H:i"}}</td>
            <td id="Spend"   >{{his.spend}}</td>
            <td id="Exc-host">{{his.exchost}}</td>
            <td id="Status"  >{{his.get_status_display}}</td>
            <td id="Result"  >{{his.result}}</td>
            <td id="Operate" class ="last-th" > <div class = "button rmv-c small bigrounded hisdel">delete</div> </td>
        </tr>
{%endfor%}
{%else%}
        <tr>
            <td id="select"  ><input type="checkbox" name="{{his.jobsid}}" value="{{his.jobsid}}"></td>
            <td id="JOBS"    ><strong>{{job.path}}</strong></td>
            <td id="JobsID"  ></td>
            <td id="User"    ></td>
            <td id="Owner"   ></td>
            <td id="ST-time" ></td>
            <td id="ED-time" ></td>
            <td id="Spend"   ></td>
            <td id="Exc-host"></td>
            <td id="Status"  ></td>
            <td id="Result"  ></td>
            <td id="Operate" class ="last-th" ><div class="button green small bigrounded"> Submit</div> </td>
        </tr>
{%endif%}
{%endfor%}
    </tbody>
</table>
<div class="tb-footer"> 
<div class="button rmv-c small selectall" > 全选</div> 
<div class="button rmv-c small reverse" > 反选</div> 
<div class="button rmv-c small unselect" > 全不选</div> 
<div class="button rmv-c small "> remove</div> 
<div class="button add-c small "> add</div> 
<div class="button add-c small "> add-list</div> 
<div class="button add-l-c small "> Commit-all</div> 
<div class="button cmt-c small "> Stop-all</div> 
</div>
</div>
{%endblock%}
