{%extends "gjobs/base.html"%}
{%block main%}
<!-- <hr> -->
<!-- {{project.name}} -->
<!-- {{project.group.count}} -->
<!-- <hr> -->
<!-- {{group1.name}} -->
<!-- {{group1.created}} -->
<!-- {{group1.jobs.count}} -->
<!-- <hr> -->
{%for group in project.group.all%}
<div class="ct"> 
<table width=100% cellspacing="0" >
    <thead >
        <!-- <tr> -->
        <!--     <th style="width:20%;">JOBS    </th> -->
        <!--     <th style="width:5%;" >JobsID  </th> -->
        <!--     <th style="width:5%;" >User    </th> -->
        <!--     <th style="width:5%;" >Owner   </th> -->
        <!--     <th style="width:10%;">ST-time </th> -->
        <!--     <th style="width:10%;">ED-time </th> -->
        <!--     <th style="width:5%;" >Spend   </th> -->
        <!--     <th style="width:10%;">Exc-host</th> -->
        <!--     <th style="width:10%;">Status  </th> -->
        <!--     <th style="width:10%;">Result  </th> -->
        <!--     <th style="width:10%;" class ="last-th">Operate</th> -->
        <!-- </tr> -->
        <tr>
            <th style="width:25%;">任务</th>
            <th style="width:5%;">任务ID</th>
            <th style="width:5%;">用户</th>
            <th style="width:5%;">归属</th>
            <th style="width:10%;">开始</th>
            <th style="width:10%;">结束</th>
            <th style="width:5%;">耗时</th>
            <th style="width:5%;">执行主机</th>
            <th style="width:10%;">状态</th>
            <th style="width:10%;">结果</th>
            <th style="width:10%;" class ="last-th">操作</th>
        </tr>
    </thead>
    <tbody id="tr-tmplate">
{%for job in group.jobs.all%}
{%if job.jobinfo_set.all%}
{%for his in job.jobinfo_set.all%}
        <tr>
            <td id="JOBS"    ><strong>{{job.path}}</strong></td>
            <td id="JobsID"  >{{his.jobsid}}</td>
            <td id="User"    >{{his.user}}</td>
            <td id="Owner"   >{{his.owner}}</td>
            <td id="ST-time" >{{his.sttime}}</td>
            <td id="ED-time" >{{his.edtime}}</td>
            <td id="Spend"   >spendtime</td>
            <td id="Exc-host">dlinux25</td>
            <td id="Status"  >{{his.status}}</td>
            <td id="Result"  >{{his.Result}}</td>
            <td id="Operate" class ="last-th" > <div class = "button rosy small bigrounded">STOP</div> </td>
        </tr>
{%endfor%}
{%else%}
        <tr>
            <td id="JOBS"    ><strong>{{job.path}}</strong></td>
            <td id="JobsID"  ></td>
            <td id="User"    ></td>
            <td id="Owner"   ></td>
            <td id="ST-time" ></td>
            <td id="ED-time" ></td>
            <td id="Spend"   ></td>
            <td id="Exc-host"></td>
            <td id="Status"  ></td>
            <td id="Result"  ></td>
            <td id="Operate" class ="last-th" ><div class="button green small bigrounded"> Submit</div> </td>
        </tr>
{%endif%}
{%endfor%}
    </tbody>
</table>
</div>
{%endfor%}
{%endblock%}
