{%extends "gjobs/base.html"%}
{%block main%}
<div class="container">
<div class="top">

</div>
<div class="left">
<div class="proj-title-bar"> <p> PROJECTS </p> </div>
<div class="proj-list">
{% if act_proj %}
{% for project in projects %}
<a href="/gjobs/user/{{user.username}}/{{project.slug}}">
{% if project == act_proj%}
    <div class="proj-bar proj-active"> <p>{{project.name}} </p> </div></a> 
{%else%}
    <div class="proj-bar "> <p>{{project.name}} {{project.slug}}</p> </div></a> 
{%endif%}
{% endfor %}
{%endif%}
</div>
<div class="proj-bar "> 
 <form id="formtest" action="" method="post">
{% csrf_token %}
    <p><span>工程名：</span><input type="text" name="username" id="input1" style="width:90px;" /></p>
</form>   
<button id="create_proj" class ="button rosy middle ">新建工程</button>  
</div>
</div>
<div class="right">
{% if act_proj %}

{% for group in act_proj.group.all %}
<div class="group-bar">  <a href="/gjobs/group/{{group.slug}}">{{act_proj.name}}  /  {{group.name}}</a> founder : <a href="/gjobs/user/{{group.founder.username}}">{{group.founder.username}}</a></div>
<div class="group-info"> 
<div class="chart chart1" data-percent="100" data-track-color="#ddd"><span class="percent"></span></div>
<div class="chart chart2" data-percent="73" data-bar-color="#70b070" ><span class="percent"></span></div>
<div class="chart" data-percent="12" data-bar-color="#669ae0" ><span class="percent"></span></div>
</div>
{% endfor %}
</div>
{%endif%}
</div>
</div>
{% load staticfiles %}  
<script src="{% static 'gjobs/js/jquery.easypiechart.js'%}"></script>
<script>
    $(function() {
        $('.chart').easyPieChart({
            //your options goes here
            animate:{ duration: 800, enabled: true },
            easing: 'easeOutBounce',
            delay: 1000,
            barColor: '#f07579',
            trackColor: '#ddd',
            scaleColor: false,
            lineWidth: 7,
            trackWidth: 5,
            lineCap: 'square',
            size:100,
            onStep: function(from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
    });
    $('#create_proj').click(function (){
    $.get(    
      '/gjobs/projmanage',
      {
        projname:$("#input1").val(),
        crtuser:"{{user.username}}",
      },
      function(data) //回传函数
      {
        var myjson='';
        eval("myjson=" + data + ";");
        npname = myjson.npname
        npslug = myjson.npslug
        // $("#result").html(data);
        var new_proj = '<a href="/gjobs/user/{{user.username}}/'+npslug+'"><div class="proj-bar"> <p>'+npname+' </p> </div></a>'
        $(".proj-list").append(new_proj);
      }
    );
});  
</script>
{%endblock%}
