{%extends "gjobs/base.html"%}
{%block main%}
<div class="container">
<div class="top">
<div class="username">{{user.username}}</div>
</div>
<div class="left">
<div class="proj-title-bar"> <p> PROJECTS </p> </div>



<div class="kit">
<div class="add-box">  
<div class=" add-input"> 
 <form id="formtest" action="" method="post">
{% csrf_token %}
    <input class="input_field input_field-hoshi"  type="text" name="username" id="add-proj-input" style="width:90px;" />
</form>   
</div>
<div class="add-yes"> 确定</div> 
</div>
<div class="proj-add-bar"> <div class="rad">+</div></div>
</div>  



<div class="proj-list">
{% if act_proj %}
{% for project in projects %}
<a href="/gjobs/user/{{user.username}}/{{project.slug}}">
{% if project == act_proj%}
    <div class="proj-bar proj-active"> <p>{{project.name}} </p> </div></a> 
{%else%}
    <div class="proj-bar "> <p>{{project.name}} {{project.slug}}</p> </div></a> 
{%endif%}
{% endfor %}
{%endif%}
</div>


</div>
<div class="right">

<div class="add-grp-box">  
<div class=" add-group-input"> 
 <form id="formtest" action="" method="post">
{% csrf_token %}
    <input class="input_field input_field-hoshi"  type="text" name="username" id="add-grp-input" style="width:90px;" />
</form>   
</div>
<div class="add-grp-yes"> 确定</div> 
</div>
<div class="add-grp-bar"> <div class="rad">+</div></div>
{% if act_proj %}

{% for group in act_proj.group.all %}
<div class="group-bar">  <a href="/gjobs/group/{{group.slug}}">{{act_proj.name}}  /  {{group.name}}</a> founder : <a href="/gjobs/user/{{group.founder.username}}">{{group.founder.username}}</a></div>
<div class="group-info"> 
<div class="chart chart1" data-percent="100" data-track-color="#ddd"><span class="percent"></span></div>
<div class="chart chart2" data-percent="73" data-bar-color="#70b070" ><span class="percent"></span></div>
<div class="chart" data-percent="12" data-bar-color="#669ae0" ><span class="percent"></span></div>
</div>
{% endfor %}
{%endif%}




</div>
</div>
</div>
</div>
{% load staticfiles %}  
<script src="{% static 'gjobs/js/jquery.easypiechart.js'%}"></script>
<script src="{% static 'gjobs/js/usermng.js'%}"></script>
<script>
$(document).ready(function() {
    $('.chart').easyPieChart({
        //your options goes here
        animate:{ duration: 800, enabled: true },
        easing: 'easeOutBounce',
        delay: 1000,
        barColor: '#f07579',
        trackColor: '#ddd',
        scaleColor: false,
        lineWidth: 7,
        trackWidth: 5,
        lineCap: 'square',
        size:100,
        onStep: function(from, to, percent) {
            $(this.el).find('.percent').text(Math.round(percent));
        }
    });
});  

</script>
{%endblock%}
